

:root {
    /*Colors*/

    /*Primary*/
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    /*Neutral*/

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --main-font: 'Outfit', sans-serif;
    --head-font: 'Young Serif', serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--wenge-brown);
}

body {
    background-color: var(--eggshell);
}

.main {
    max-width: 740px;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;

    background-color: var(--white);
    border-radius: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

h1,
h2 {
    font-family: var(--head-font);
}

h1 {
    color: var(--dark-charcoal);
}

h2 {
    color: var(--nutmeg);
    margin-top: 0;
}

ul,
ol {
    padding-left: 1.25rem;
    list-style-position: outside;
    margin-bottom: 0;
}

ul li,
ol li {
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
}

li::marker {
    color: var(--nutmeg);
}

li:last-child {
    padding-bottom: 0;
}

ul li::marker {
    font-size: 0.8em;
}

ol li::marker {
    font-weight: 700;
}

.head-image {
    padding: 2.5rem;
    padding-bottom: 0;
}

.recipe-content {
    padding: 2.5rem;
    padding-top: 0;
}

.accent-block {
    background-color: var(--rose-white);
    padding: 1.5rem;
}

.accent-block__head {
    margin-top: 0;
    color: var(--dark-raspberry);
}

.accent-block__list {
    padding-left: 1.5rem;
    list-style-position: outside;
}

.accent-block__list li {
    padding-left: 0.6rem;
}

.accent-block__list li::marker {
    font-size: 0.7em;
    color: var(--dark-raspberry);
}

.nutrition-table {
    width: 100%;
}

.nutrition-table td {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--light-grey);
}

.nutrition-table td:nth-child(2n) {
    color: var(--nutmeg);
    font-weight: 700;
}

.nutrition-table tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.ingredients, .instructions {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-grey);
}

.nutrition {
    padding-top: 2rem;
}

@media (max-width: 430px){
    body{
        margin: 0;
    }
    
    .main {
        margin: 0;
        border-radius: 0;
    }

    img {
        border-radius: 0;
    }

    .head-image {
        padding: 0;
    }

    .recipe-content {
        padding: 2rem;
        padding-top: 0;
    }
}